AI_SERVICE_TOKEN=18acc77c588ec0f910eefa06499e738612af6d636aaf78377b71f8216ab9a1f9
MINERU_BIND_ADDRESS=10.211.55.6
MINERU_PORT=8000
MINERU_BASE_URL=http://10.211.55.6:8000
MINERU_API_TOKEN=replace-with-mineru-api-token
MINERU_VERSION=3.4.4
MINERU_IMAGE=mineru-local:3.4.4
CADDY_IMAGE=caddy:2.10-alpine
MINERU_MODEL_SOURCE=local
MINERU_MODEL_DOWNLOAD_SOURCE=auto
MINERU_REQUEST_TIMEOUT_SECONDS=120
MINERU_RESULT_TIMEOUT_SECONDS=300
MINIO_ENDPOINT=10.211.55.6:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=wangjun=5201314
MINIO_SECURE=false
MINIO_RESULT_BUCKET=knowledge-base
